/*! ===== booking ===== */
.booking {
  padding: 0 15px;
}

#bookig-form {
	width: 400px;
	padding: 0;

  @include media(768) {
    margin: auto;
  }

	.form__label {
    width: 100%;

    &-link {
    	position: absolute;
    	top: 70%;
    	left: 105%;
    	transform: translateY(-50%);
    	color: deepskyblue;
    	text-decoration: underline;
    	white-space: nowrap;

      @include media(768) {
        display: inline-block;
        position: static;
        margin-top: 15px;
      }
    }

    &_children-ages {
    	display: none;
    }
  }

  .form-group .form__label {
    width: 50%;

    @include media(640) {
      width: 100%;
    }
  }

  .validity-input-msg {
  	white-space: normal;
  }
}