/*! ===== slider main ===== */
.slider {

}

.slide {
	position: relative;
	padding: 200px 15px 250px;
	text-align: right;

	@include media(768) {
		padding: 50px 15px;
	}

	&-img {
		position: absolute;
		left: -200px;
		bottom: 0;
		z-index: -1;

		@include media(1100) {
			width: 68%;
			left: -100px;
		}
		@include media(768) {
			display: none;
		}
	}

	&-text {
		display: inline-block;
		text-align: center;
  	font: 26px $TrebuchetMS-Bold;
	}

	&-text__big {
		font-size: 61px;

		@include media(768) {
			font-size: 48px;
		}
		@include media(768) {
			font-size: 30px;
		}
	}

	&-text__normal {
		margin-top: 10px;

		@include media(768) {
			font-size: 20px;
		}
	}

	&__button {
		margin-top: 35px;
		border: none;
		box-shadow: 0 10px 35px rgba(#ffa404, 0.5);
	}
}

/*! ===== apartments ===== */
.apartments {
	padding-top: 30px;

	&-list {
		
	}

	&-item {
		float: left;
		width: 33.33%;
		padding: 15px;
		text-align: center;

		@include media(992) {
			width: 50%;
		}
		@include media(640) {
			float: none;
			width: 100%;
		}

		&__text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 150%;
			height: 146px;
			padding: 25px;
			background-color: rgba(#38b2c1, 0.8);
			border-radius: 50%;
		  font: 42px $TrebuchetMS-Bold;
		  color: #fff;
		  text-align: center;
			z-index: 2;

			@include media(1230) {
				height: 100px;
				font-size: 28px;
			}

			&-inner {
				@include center-translate();
				width: 60%;
			}
		}

	}

	&_main {
		.apartments-item:nth-of-type(3n+2) .apartments-link {
			transform: translateY(-50%);

			@include media(992) {
				transform: none;
			}
		}

		.apartments-item__text {
			@include center-translate();
		  font: 42px $TrebuchetMS-Bold;
		  color: #fff;
		  text-align: center;
			z-index: 2;

			@include media(1230) {
				height: 100px;
				font-size: 28px;
			}
		}
	}

	&-link {
		position: relative;
		display: inline-block;
		// max-width: 100%;
		width: 390px;
		height: 390px;
		border-radius: 50%;
		overflow: hidden;

		@include media(1230) {
			width: 290px;
			height: 290px;
		}

		@include media(640) {
			width: 250px;
			height: 250px;
		}

		&:before {
			content: '';
			@include center-absolute();
			background: rgba(#000, 0.3);
			border-radius: 50%;
			transition: .5s;
			z-index: 1;
		}

		&:hover:before {
			box-shadow: inset 0 0 50px #000;
		}
		
		&:hover .apartments-img {
			transform: scale(1.1);
		}
	}

	&-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: .5s;

		&-holder {
			width: 100%;
			height: 100%;
		}
	}
	
	&-decor {
		margin-top: -100px;
		text-align: center;

		@include media(992) {
			margin: 0;
		}

		&__img {
			margin-top: -100px;
			
			@include media(992) {
				margin: 0;
			}
		}
	}

	&-col {
		float: left;
		width: 50%;
		padding: 35px 15px;

		h5 {
			margin: 0;
			font-size: 20px;
			text-transform: uppercase;
		}

		p {
			font-size: 14px;
		}
	}

	.apartments-table {
		border-collapse: collapse;

		td {
			padding: 5px 15px;
			font-size: 12px;
			font-weight: bold;
			text-align: center;
			border: 2px solid #d6f4fe;
			background-color: #fff;

			a {
				color: #4cbec7;
			}
		}

		thead td {
			background-color: #d6f4fe;
			border: 2px solid #fff;
		}
	}

}

/*! ===== section_yellow ===== */
.section_yellow {
	padding: 200px 15px 110px;
	background: #fff url(../img/bg_yellow.jpg) center no-repeat;
	background-size: contain;

	@include media(992) {
		margin: 50px 0;
		padding: 0;
		background-size: cover;
		background-color: #FED940;
		background-image: none;
	}

	
	&__inner {
		padding: 50px 130px;
		border: 2px solid #fff;

		@include media(992) {
			padding: 50px 15px;
		}

		h6 {
			text-transform: uppercase;
			margin-bottom: 30px;
			text-align: center;
			font-size: 18px;
		}

		p {
			font-size: 14px;
		}
	}
}

/*! ===== section_white ===== */
.section_white {
	padding: 0 15px;
}

/*! ===== section_blue ===== */
.section_blue {
	margin: -50px auto -150px;
	padding: 250px 15px 200px;
	background: #fff url(../img/bg_blue.png) center no-repeat;

	@include media(992) {
		margin: 50px 0;
		padding: 150px 15px;
		background-color: #AFF2FF;
	}
	
	@include media(640) {
		margin-bottom: 0;
		padding: 0 15px 50px;
	}

	&__inner {
		position: relative;
	}

	.title {
		text-align: left;
		margin: 0;

		@include media(640) {
			padding: 50px 15px;
		}

	}
}

.section_blue__img {
	position: absolute;
	top: -75%;
	right: 10%;

	@include media(1200) {
		top: -55%;
	}
	@include media(640) {
		display: none;
	}
}

.section_blue__news-item-date {
	font-style: italic;
}

.section_blue__link {
	text-decoration: underline;
	color: $body-font-color;
}

.service {
	padding: 0 15px;
}