// ====== footer ======= 
footer.footer
	._container

		// ====== footer-socials ======= 
		ul.footer-socials
			li.footer-socials-item
				a.footer-socials-link.footer-socials-link_fb(href="https://facebook.com" target="_blank")
					i.fa.fa-facebook
			li.footer-socials-item
				a.footer-socials-link.footer-socials-link_ig(href="https://instagram.com" target="_blank")
					i.fa.fa-instagram

		._row.footer__bottom
			// ====== copyright ======= 
			.copyright
				p &copy; 2018 Все права защищены.

			// ====== footer-menu ======= 
			ul.footer-menu
				li.footer-menu-item
					a.footer-menu-link(href="/") Главная
				li.footer-menu-item
					a.footer-menu-link(href="photo.html") Фото
				li.footer-menu-item
					a.footer-menu-link(href="service.html") сервис
				li.footer-menu-item
					a.footer-menu-link(href="news.html") новости
				li.footer-menu-item
					a.footer-menu-link(href="contacts.html") контакты

			// ====== skylogic ======= 
			.skylogic
				a.skylogic__link(href="https://skylogic.com.ua") Создание и продвижение сайта

.hidden
	form.form#feedback-form(action="")
		.form__title
			.form__title-inner Задать вопрос
		label.form__label
			.form__label-text.form__label-text_required Имя
			input.form__input(type="text" name="name" data-rules="required|length(2)" data-fieldname="Имя" autofocus)
		label.form__label
			.form__label-text.form__label-text_required Телефон
			input.form__input(type="tel" name="phone" data-rules="required|tel" data-fieldname="Телефон")
		label.form__label
			.form__label-text E-mail
			input.form__input(type="email" name="email" data-rules="email" data-fieldname="E-mail")
		label.form__label
			.form__label-text Текст сообщения
			textarea.form__input.form__input_textarea(name="text" data-rules="length(6)" data-fieldname="Текст сообщения")
		
		.form__button-holder
			button.button.button_blue.form__button(type="submit") Отправить