extends ../main

block content
	// ====== slider ======= 
	.slider
		._container
			.slide
				img.slide-img(src="/img/girl.png", alt="girl")
				.slide-text
					.slide-text__big Отдых на Черном море
					.slide-text__normal в спокойной обстановке, тишине и полном комфорте
					a.button.button_orange.slide__button(href="#") забронировать

	// ====== apartments ======= 
	.apartments.apartments_main
		._container
			ul._row.apartments-list
				li.apartments-item
					a.apartments-link(href="numer.html")
						.apartments-img-holder
							img.apartments-img(src="/img/apartments/photo_1.jpg", alt="")
						.apartments-item__text
							.apartments-item__text-inner Стандарт премиум
				li.apartments-item
					a.apartments-link(href="numer.html")
						.apartments-img-holder
							img.apartments-img(src="/img/apartments/photo_2.jpg", alt="")
						.apartments-item__text
							.apartments-item__text-inner Закарпатский дом
				li.apartments-item
					a.apartments-link(href="numer.html")
						.apartments-img-holder
							img.apartments-img(src="/img/apartments/photo_3.jpg", alt="")
						.apartments-item__text
							.apartments-item__text-inner Стандарт
				li.apartments-item
					a.apartments-link(href="numer.html")
						.apartments-img-holder
							img.apartments-img(src="/img/apartments/photo_4.jpg", alt="")
						.apartments-item__text
							.apartments-item__text-inner Эконом
				li.apartments-item
					a.apartments-link(href="numer.html")
						.apartments-img-holder
							img.apartments-img(src="/img/apartments/photo_5.jpg", alt="")
						.apartments-item__text
							.apartments-item__text-inner Эконом +
				li.apartments-item
					a.apartments-link(href="numer.html")
						.apartments-img-holder
							img.apartments-img(src="/img/apartments/photo_6.jpg", alt="")
						.apartments-item__text
							.apartments-item__text-inner Семейный коттедж

			.apartments-decor
				img.apartments-decor__img(src="/img/summer-time.png", alt="summer-time")


	// ====== section_yellow ======= 
	.section_yellow
		._container
			.section_yellow__inner
				h6 Недорогой отдых на Черном море: курорт Затока
				p База отдыха в Затоке —  «Глория» приглашает всех, для кого важен отдых на Черном море в спокойной обстановке, тишине и полном комфорте.
				p Такой отдых у моря придется по вкусу и родителям с детьми, и молодежным компаниям, и людям пенсионного возраста. Но разве возможно, чтобы одна база могла подойти по всем условиям людям с такими разными запросами к отдыху? Если вы решите выбрать «Глорию» — то сами убедитесь в этом.
				p База отдыха в Затоке «Глория» — это удобные комфортабельные номера, зеленая территория (одна из лучших на побережье), условия для отдыха с детьми, близость к морю и основным центрам развлечений. И при этом база имеет такое удачное расположение, что в вечернее и ночное время ваше спокойствие не потревожит громкая музыка дискотек или шум баров, находящихся поблизости.
				p  Поэтому среди наших гостей так много отдыхающих с детьми — когда нужно выбрать безопасный и спокойный отдых под Одессой, многие делают выбор именно в пользу «Глории».
				p Но и молодежи будет комфортно у нас — всего в 100 метрах от базы находится центр станции Лиманской, где можно найти массу вечерних развлечений.
				p До моря всего 700-800 метров, и небольшая прогулка к пляжу  добавит бодрости и хорошего аппетита перед обедом или ужином.
				p А теперь мы более подробно расскажем об условиях отдыха в Затоке на базе «Глория»

	// ====== section_white ======= 
	.section_white
		._container
			p Мы разработали несколько вариантов комфортного размещения, и вы можете выбрать наиболее удачный для вас.
			p Эконом: для всех, кто планирует недорогой отдых на Черном море, в Затоке. 2-3-местные номера с удобными кроватями в 1-этажных домиках — отличный вариант для молодежного отдыха.
			p Эконом плюс: Уютные деревянные двухэтажные домики, в которых в можете выбрать 2-местный номер, подойдут и для людей старшего поколения, и для молодоженов, и для семей с детьми. Санузел и душ с горячей водой — в холле, рассчитанном на 3 номера.
			p Стандарт: 2-3-местные номера в новом 3-этажном каменном корпусе. Санузел и душ на этаже. Недорогой вариант расселения при хорошем уровне комфорта.
			p Стандарт Premium: наличие номеров, состоящих как из одной, так и из двух комнат. Удобное размещение семьей или компанией. Санузел и душ в номере. Отдых в Затоке с детьми будет удачным, если вы выберете этот тип расселения.
			p Закарпатский дом: номера в деревянных коттеджах, выполненных из сруба. Даже в жару в этом доме будет комфортно, а цены на проживание очень умеренные.
			p Семейный коттедж: идеальный вариант как для молодоженов, так и для компании 5-7 человек, решивших провести отпуск вместе.
			p Дети до 5 лет при двух родителях размещаются без предоставления отдельного места — за 20 грн/сут;
			p При поступлении 2-их детей до 5 лет, оплачивается 1 спальное место;
			p Дети до 10 лет при одном родителе — 5% от стоимости одного места.
			p Дети до 10 лет при  двух родителях размещаются на дополнительном месте со скидкой 20% с одного места.


	// ====== section_blue ======= 
	.section_blue
		._container

			.section_blue__inner
				img.section_blue__img(src="/img/hot-summer-sale.png", alt="summer sale")

				.title
					.title__inner
						.title__text Новости

				ul.section_blue__news-list
					li.section_blue__news-item
						.section_blue__news-item-date 22.02.2018
						.section_blue__news-item-content
							p База отдыха Глория рада разместить у себя отдыхающих всех возрастов и поэтому мы приготовили специальные предложения для самых маленьких:
							p Дети до 5 лет при двух родителях размещаются без предоставления отдельного места — за 20 грн/сут;
							p При поступлении 2-их детей до 5 лет, оплачивается 1 спальное место;
							p Ребёнок при одном родителе — 5% от стоимости одного места.
							p Дети до 10 лет при  двух родителях размещаются на дополнительном месте со скидкой 20% с одного места.
				.section_blue__link-block
					a.section_blue__link(href="news.html") все новости &rarr;
