extends ../main

block vars
	- 
		var show_button = true,
				breadcrumbs = [
				{
					url: "/",
					name: "Главная"
				},
				{
					url: "/",
					name: "Номера"
				}
			];


block content
	// ====== apartments ======= 
	.apartments
		._container
			ul._row.apartments-list
				li.apartments-item
					a.apartments-link(href="numer.html")
						.apartments-img-holder
							img.apartments-img(src="/img/apartments/photo_1.jpg", alt="")
						.apartments-item__text
							.apartments-item__text-inner Стандарт премиум
				li.apartments-item
					a.apartments-link(href="numer.html")
						.apartments-img-holder
							img.apartments-img(src="/img/apartments/photo_2.jpg", alt="")
						.apartments-item__text
							.apartments-item__text-inner Закарпатский дом
				li.apartments-item
					a.apartments-link(href="numer.html")
						.apartments-img-holder
							img.apartments-img(src="/img/apartments/photo_3.jpg", alt="")
						.apartments-item__text
							.apartments-item__text-inner Стандарт
				li.apartments-item
					a.apartments-link(href="numer.html")
						.apartments-img-holder
							img.apartments-img(src="/img/apartments/photo_4.jpg", alt="")
						.apartments-item__text
							.apartments-item__text-inner Эконом
				li.apartments-item
					a.apartments-link(href="numer.html")
						.apartments-img-holder
							img.apartments-img(src="/img/apartments/photo_5.jpg", alt="")
						.apartments-item__text
							.apartments-item__text-inner Эконом +
				li.apartments-item
					a.apartments-link(href="numer.html")
						.apartments-img-holder
							img.apartments-img(src="/img/apartments/photo_6.jpg", alt="")
						.apartments-item__text
							.apartments-item__text-inner Семейный коттедж
	
			._row
				.apartments-col
					h5 Номера
					p Мы разработали несколько вариантов комфортного размещения, и вы можете выбрать наиболее удачный для вас.
					p Эконом: для всех, кто планирует недорогой отдых на Черном море, в Затоке. 2-3-местные номера с удобными кроватями в 1-этажных домиках — отличный вариант для молодежного отдыха.
					p Эконом плюс: Уютные деревянные двухэтажные домики, в которых в можете выбрать 2-местный номер, подойдут и для людей старшего поколения, и для молодоженов, и для семей с детьми. Санузел и душ с горячей водой — в холле, рассчитанном на 3 номера.
					p Стандарт: 2-3-местные номера в новом 3-этажном каменном корпусе. Санузел и душ на этаже. Недорогой вариант расселения при хорошем уровне комфорта.
					p Стандарт Premium: наличие номеров, состоящих как из одной, так и из двух комнат. Удобное размещение семьей или компанией. Санузел и душ в номере. Отдых в Затоке с детьми будет удачным, если вы выберете этот тип расселения.
					p Закарпатский дом: номера в деревянных коттеджах, выполненных из сруба. Даже в жару в этом доме будет комфортно, а цены на проживание очень умеренные.


				.apartments-col
					table.apartments-table
						thead
							tr
								td Категория номера
								td(width="8%") Кол-во человек
								td 01.06 - 21.06
								td 22.06 - 09.07
								td 10.07 - 01.09
						tbody
							tr
								td(colspan=2)
								td(colspan=3) Цена за номер (сутки / ночь)
							tr
								td(rowspan=2) Classic B
								td 2
								td 950 грн.
								td 1245 грн.
								td 1580 грн.
							tr
								td 3
								td 1095 грн.
								td 1385 грн.
								td 1880 грн.

							tr
								td(rowspan=2) Classic A
								td 2
								td 950 грн.
								td 1245 грн.
								td 1580 грн.
							tr
								td 3
								td 1095 грн.
								td 1385 грн.
								td 1880 грн.

							tr
								td(rowspan=2) Classic family
								td 2
								td 950 грн.
								td 1245 грн.
								td 1580 грн.
							tr
								td 3
								td 1095 грн.
								td 1385 грн.
								td 1880 грн.

							tr
								td(rowspan=2) Comfort family
								td 2
								td 950 грн.
								td 1245 грн.
								td 1580 грн.
							tr
								td 3
								td 1095 грн.
								td 1385 грн.
								td 1880 грн.

							tr
								td(rowspan=2) Comfort family luxe
								td 2
								td 950 грн.
								td 1245 грн.
								td 1580 грн.
							tr
								td 3
								td 1095 грн.
								td 1385 грн.
								td 1880 грн.

							tr
								td(rowspan=2) VIP
								td 2
								td 950 грн.
								td 1245 грн.
								td 1580 грн.
							tr
								td 3
								td 1095 грн.
								td 1385 грн.
								td 1880 грн.

							tr
								td(rowspan=2) Дополнительное место
								td 1
								td 950 грн.
								td 1245 грн.
								td 1580 грн.
