extends ../main

block vars
	- 
		var show_button = true,
				breadcrumbs = [
				{
					url: "/",
					name: "Главная"
				},
				{
					url: "numers.html",
					name: "Номера"
				},
				{
					url: "/",
					name: "Семейный коттедж"
				}
			];


block content
	// ====== apartment ======= 
	.apartment
		._container
			.title
				.title__inner
					.title__text Семейный коттедж

			._row
				.apartment__img-holder
					img.apartment__img(src="/img/apartments/photo_6.jpg", alt="")
					img.apartment__img-decor(src="img/cocktail.png", alt="cocktail")

				.apartment__info
					.apartment__info-title Трехкомнатный коттедж с верандой для большой семьи
					p <strong>Площадь:</strong> 80 м2
					p <strong>Количество:</strong> 4 коттеджа
					p <strong>Размещение:</strong> одноэтажные деревянные коттеджи с просторными верандами расположены на территории базы отдыха в парковой, зелёной зоне. Из небольшого холла вы можете перейти в спальню с индивидуальным входом, либо в гостиную комнату. Гостиная является проходной комнатой для второй спальни. Также в коттедже есть душевая и туалетная комнаты.
					p <strong>В номерах:</strong> мебель (обеденный стол, стулья, шкаф)  и необходимая техника (холодильник, телевизор, кондиционер).
					p Данный тип номера позволяет разместить 5-7 человек.
					p <strong>Идеальный вариант для большой семьи за приемлемую цену.</strong>
					p <em>Курение, размещение с животными и приготовление пищи в номере категорически запрещено.</em>

					table
						thead
							tr
								td Стоимость
								td 01.06 - 21.06
								td 22.06 - 09.07
								td 10.07 - 01.09
						tbody
							tr
								td До 5 человек
								td 100 грн
								td 100 грн
								td 100 грн
							tr
								td 6-7 человек
								td 200 грн
								td 200 грн
								td 200 грн
			
			.owl-carousel.apartment-carousel
				a.apartment-carousel-item(href="img/apartments/photo_1.jpg", data-fancybox-group="gallery", title="Lorem ipsum dolor sit amet, consectetur adipiscing elit")
					img.apartment-carousel-img(src="/img/apartments/photo_1.jpg", alt="")
				a.apartment-carousel-item(href="img/apartments/photo_2.jpg", data-fancybox-group="gallery", title="Lorem ipsum dolor sit amet, consectetur adipiscing elit")
					img.apartment-carousel-img(src="/img/apartments/photo_2.jpg", alt="")
				a.apartment-carousel-item(href="img/apartments/photo_3.jpg", data-fancybox-group="gallery", title="Lorem ipsum dolor sit amet, consectetur adipiscing elit")
					img.apartment-carousel-img(src="/img/apartments/photo_3.jpg", alt="")
				a.apartment-carousel-item(href="img/apartments/photo_4.jpg", data-fancybox-group="gallery", title="Lorem ipsum dolor sit amet, consectetur adipiscing elit")
					img.apartment-carousel-img(src="/img/apartments/photo_4.jpg", alt="")
				a.apartment-carousel-item(href="img/apartments/photo_5.jpg", data-fancybox-group="gallery", title="Lorem ipsum dolor sit amet, consectetur adipiscing elit")
					img.apartment-carousel-img(src="/img/apartments/photo_5.jpg", alt="")
				a.apartment-carousel-item(href="img/apartments/photo_6.jpg", data-fancybox-group="gallery", title="Lorem ipsum dolor sit amet, consectetur adipiscing elit")
					img.apartment-carousel-img(src="/img/apartments/photo_6.jpg", alt="")

				a.apartment-carousel-item(href="img/apartments/photo_3.jpg", data-fancybox-group="gallery", title="Lorem ipsum dolor sit amet, consectetur adipiscing elit")
					img.apartment-carousel-img(src="/img/apartments/photo_3.jpg", alt="")
				a.apartment-carousel-item(href="img/apartments/photo_4.jpg", data-fancybox-group="gallery", title="Lorem ipsum dolor sit amet, consectetur adipiscing elit")
					img.apartment-carousel-img(src="/img/apartments/photo_4.jpg", alt="")
				a.apartment-carousel-item(href="img/apartments/photo_5.jpg", data-fancybox-group="gallery", title="Lorem ipsum dolor sit amet, consectetur adipiscing elit")
					img.apartment-carousel-img(src="/img/apartments/photo_5.jpg", alt="")
				a.apartment-carousel-item(href="img/apartments/photo_6.jpg", data-fancybox-group="gallery", title="Lorem ipsum dolor sit amet, consectetur adipiscing elit")
					img.apartment-carousel-img(src="/img/apartments/photo_6.jpg", alt="")


			.apartment-text
				p Мы разработали несколько вариантов комфортного размещения, и вы можете выбрать наиболее удачный для вас.
				p Эконом: для всех, кто планирует недорогой отдых на Черном море, в Затоке. 2-3-местные номера с удобными кроватями в 1-этажных домиках — отличный вариант для молодежного отдыха.
				p Эконом плюс: Уютные деревянные двухэтажные домики, в которых в можете выбрать 2-местный номер, подойдут и для людей старшего поколения, и для молодоженов, и для семей с детьми. Санузел и душ с горячей водой — в холле, рассчитанном на 3 номера.
				p Стандарт: 2-3-местные номера в новом 3-этажном каменном корпусе. Санузел и душ на этаже. Недорогой вариант расселения при хорошем уровне комфорта.
				p Стандарт Premium: наличие номеров, состоящих как из одной, так и из двух комнат. Удобное размещение семьей или компанией. Санузел и душ в номере. Отдых в Затоке с детьми будет удачным, если вы выберете этот тип расселения.
				p Закарпатский дом: номера в деревянных коттеджах, выполненных из сруба. Даже в жару в этом доме будет комфортно, а цены на проживание очень умеренные.
				p Семейный коттедж: идеальный вариант как для молодоженов, так и для компании 5-7 человек, решивших провести отпуск вместе.
				p Дети до 5 лет при двух родителях размещаются без предоставления отдельного места — за 20 грн/сут;
				p При поступлении 2-их детей до 5 лет, оплачивается 1 спальное место;
				p Дети до 10 лет при одном родителе — 5% от стоимости одного места.
				p Дети до 10 лет при  двух родителях размещаются на дополнительном месте со скидкой 20% с одного места.

			.apartment-others
				.apartment-others__title Другие категории номеров
				ul._row.apartment-others-list
					li.apartment-others-item
						a.apartments-link(href="numers-in.html")
							.apartments-img-holder
								img.apartments-img(src="/img/apartments/photo_1.jpg", alt="")
							.apartments-item__text
								.apartments-item__text-inner Стандарт премиум
					li.apartment-others-item
						a.apartments-link(href="numers-in.html")
							.apartments-img-holder
								img.apartments-img(src="/img/apartments/photo_1.jpg", alt="")
							.apartments-item__text
								.apartments-item__text-inner Стандарт премиум
					li.apartment-others-item
						a.apartments-link(href="numers-in.html")
							.apartments-img-holder
								img.apartments-img(src="/img/apartments/photo_1.jpg", alt="")
							.apartments-item__text
								.apartments-item__text-inner Стандарт премиум
					li.apartment-others-item
						a.apartments-link(href="numers-in.html")
							.apartments-img-holder
								img.apartments-img(src="/img/apartments/photo_1.jpg", alt="")
							.apartments-item__text
								.apartments-item__text-inner Стандарт премиум
					li.apartment-others-item
						a.apartments-link(href="numers-in.html")
							.apartments-img-holder
								img.apartments-img(src="/img/apartments/photo_1.jpg", alt="")
							.apartments-item__text
								.apartments-item__text-inner Стандарт премиум