extends ../main

block vars
	- 
		var show_button = true,
				body_class = 'body_service',
				breadcrumbs = [
				{
					url: "/",
					name: "Главная"
				},
				{
					url: "/",
					name: "Сервис"
				}
			];


block content
	// ====== service ======= 
	.service
		._container
			.title
				.title__inner
					.title__text Сервис


			.service__text
				ul
					li На территории базы отдыха
					li На территории базы отдыха
					li На территории базы отдыха

				p Досуг:
				p В 100 метрах находится:
				ul
					li На территории базы отдыха
					li На территории базы отдыха
					li На территории базы отдыха

				p В 700 метрах находится:
				ul
					li На территории базы отдыха
					li На территории базы отдыха
					li На территории базы отдыха
