doctype html
html(lang="ru-RU")
	block vars

	head
		include section/_head
	body(class=body_class)

		include common/mixins

		include section/header
		
		main.main
			block content

		include section/footer